.checkout_inputs input {
    width: 100%;
    border: none;
    border-bottom: 1px solid var(--primary_color);
    padding-bottom: 10px;
    outline: none;
    padding: 10px 10px;
}
.checkout_inputs input::placeholder {
    font-size: 13px;
}
.checkout_inputs button {
    width: fit-content;
    border: none;
    border-radius: 6px;
    padding: 4px 10px;
    font-size: 14px;
    color: white;
    background-color: var(--primary_color);
}
.total {
    background-color: #fde4e4;
    color: black;
    width: 300px;
    padding: 20px;
}
@media (max-width:334px) {
    .total {
        max-width: 100%;
        white-space: nowrap;
    }
}
.total span {
    font-weight: bold;
}