
.header .container a img {
    width:  50px !important;
    height: 50px !important;
}
.header .container a {
    font-weight: bold;
}
.navbar-nav a {
    text-decoration: none;
    color: black;
    transition: 0.4s all;
    font-size: 14px;
}
.navbar-nav a:hover {
    color: var(--primary_color);
}
@media (max-width:767px) {
    .icons {
        padding-top: 20px;
    }
}
.icons  a {
    text-decoration: none;
    color: black !important;
    font-size: 10px;
}
.icons  a i {
    font-size: 20px;
    cursor: pointer;
}

.icons .shopping {
    position: relative;
    padding-top: 2px;
    cursor: pointer;
}
.icons .shopping span {
    position: absolute;
    top: -12px;
    left: 6px;
    color: white;
    background-color: black;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
}
.header__shrink {
    position: sticky;
    top: 0;
    left: 0;
    box-shadow:  5px 5px 15px -5px #fde4e4;
    background-color: white;
    z-index: 999;
}
